<main role="main" class="flex-shrink-0 mt-5">
    <br>
    <div class="container">
        <h3>Interpolation</h3>
        <!-- <p>O número de cliques é: {{contadorClique}}</p> -->

        <p [ngClass]="{
            'text-secondary':contadorClique < 3,
            'text-success':contadorClique >= 3,
            'text-warning':contadorClique >= 5,
            'text-danger':contadorClique >= 9
        }">O número de cliques é: {{contadorClique}}</p>

        <hr>

        <h3>Property Binding</h3>
        <button class="btn btn-info" [disabled]="contadorClique >= 10">Info</button>
        <br>
        <br>
        <img [src]="urlImage" alt="" height="50px" width="50px" />

        <hr>

        <h3>Event Binding</h3>
        <button class="btn btn-warning mr-1" (click)="adicionarClique()">Clique-me</button>
        <button class="btn btn-danger" (click)="zerarContador()" [disabled]="contadorClique < 10">Zerar contador</button>

        <hr>

        <h3>Two-way Binding</h3>
        <!--<input type="text" (keyup)="keyUp($event)" placeholder="Digite seu nome">
        <br>
        <br>f
        <label>Seu nome é: {{nome}}</label> -->

        <!-- <input type="text" [ngModel]="nome" (ngModelChange)="nome = $event" placeholder="Digite seu nome">
        <br>
        <br>
        <label>Seu nome é: {{nome}}</label> -->

        <input type="text" [(ngModel)]="nome" placeholder="Digite seu nome">
        <br>
        <br>
        <label [ngClass]="nome">Seu nome é: {{nome}}</label>

    </div>
</main>