<div class="container mt-80">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">Contato!</h1>
                <p class="lead">Aqui você pode colocar um mapa para informar seu local de trabalho.</p>
            </div>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputNome">Nome</label>
                        <input type="text" class="form-control" id="inputNome">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputEmail">E-mail</label>
                        <input type="email" class="form-control" id="inputEmail">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputTelefone">Telefone</label>
                        <input type="text" class="form-control" id="inputTelefone">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Mensagem</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>