<!-- Page Content - Início -->
<main role="main" class="flex-shrink-0">
    <header class="mt-5">
        <div class="bg-primary pricing-header mx-auto text-start text-white  mb-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <img class="mr-3" src="assets/images/angular.png" alt="angular" width="120" height="120">
                    </div>
                    <div class="col-lg-10 mt-2">
                        <h3 class="display-4">Desenvolvimento SPA com Angular</h3>
                        <p class="lead">Você está pronto para aprender muito sobre este fantástico framework SPA?</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card text-center">
                <img src="assets/images/multiplataforma.png" alt="multiplataforma" width="auto" height="150">
                <div class="card-body">
                    <h5 class="card-title">Multiplataforma</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional.</p>
                </div>
                <div class="card-footer text-muted">
                    <button type="button" class="btn btn-primary">Saiba mais</button>
                </div>
            </div>
            <div class="card text-center">
                <img src="assets/images/performance.jpg" alt="performance" width="auto" height="150">
                <div class="card-body">
                    <h5 class="card-title">Performance</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional.</p>
                </div>
                <div class="card-footer text-muted">
                    <button type="button" class="btn btn-primary">Saiba mais</button>
                </div>
            </div>
            <div class="card text-center">
                <img src="assets/images/produtividade.png" alt="produtividade" width="auto" height="150">
                <div class="card-body">
                    <h5 class="card-title">Produtividade</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional.</p>
                </div>
                <div class="card-footer text-muted">
                    <button type="button" class="btn btn-primary">Saiba mais</button>
                </div>
            </div>
            <div class="card text-center">
                <img src="assets/images/funcionalidades.png" alt="funcionalidades" width="auto" height="150">
                <div class="card-body">
                    <h5 class="card-title">Funcionalidades</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional.</p>
                </div>
                <div class="card-footer text-muted">
                    <button type="button" class="btn btn-primary">Saiba mais</button>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Page Content - Fim -->