/* You can add global styles to this file, and also import other style files */
.footer {
    text-align: end;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}

.mt-80 {
    margin-top: 80px!important;
}
