<!-- Navigation Início -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" [routerLink]="['/home']">Angular Reactive Forms</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/cadastro']">Cadastro</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" [routerLink]="['/produtos']">Produtos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/sobre']">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contato']">Contato</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" [routerLink]="['/feature-data-binding']">Features</a>
            </li> -->
        </ul>
    </div>
</nav>
<!-- Navigation Fim -->